
run = ["python3", "main.py"]
language = "python3"
entrypoint = "main.py"
hidden = [".pytest_cache", "__pycache__", "*.pyc"]

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}"

[nix]
channel = "stable-24_05"

[debugger]
support = true

[languages.python3]
pattern = "**/*.py"
syntax = "python"

[languages.python3.languageServer]
start = ["pylsp"]

[unitTest]
language = "python3"

[deployment]
run = ["python3", "main.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 5000
externalPort = 80

[interpreters]
[interpreters.python]
command = ["python3"]

[commands]
run = ["python3", "main.py"]
test = ["python3", "-m", "pytest", "tests/", "--disable-warnings", "-v"]
