~/workspace$ pip install -r requirements.txt
Requirement already satisfied: Flask==3.0.3 in /nix/store/wm053mx50rc2050yhg0fjfm4516wr59y-python3.11-flask-3.0.3/lib/python3.11/site-packages (from Flask[async]==3.0.3->-r requirements.txt (line 3)) (3.0.3)
Requirement already satisfied: Flask-SQLAlchemy>=3.0.2 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 4)) (3.0.2)
Requirement already satisfied: SQLAlchemy>=2.0.23 in /nix/store/311mpmxk4759nkmbpgbj6ka44w9pgaqm-python3.11-sqlalchemy-2.0.30/lib/python3.11/site-packages (from -r requirements.txt (line 5)) (2.0.30)
Requirement already satisfied: Flask-Migrate>=4.0.5 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 6)) (4.0.5)
Requirement already satisfied: Flask-Login>=0.6.3 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 7)) (0.6.3)
Requirement already satisfied: Flask-Admin==1.6.1 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 8)) (1.6.1)
Requirement already satisfied: Quart>=0.19.4 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 9)) (0.19.4)
Requirement already satisfied: Quart-Schema>=0.15.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 10)) (0.20.0)
Requirement already satisfied: hypercorn>=0.15.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 11)) (0.17.3)
Requirement already satisfied: Jinja2>=3.1.2 in /nix/store/cyhnqww4v87ms623dz12aadwi4jwbylj-python3.11-jinja2-3.1.4/lib/python3.11/site-packages (from -r requirements.txt (line 12)) (3.1.4)
Requirement already satisfied: redis>=5.0.1 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 15)) (5.0.1)
Requirement already satisfied: Flask-Caching>=1.10.1 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 16)) (1.10.1)
Requirement already satisfied: python-dotenv>=1.0.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 17)) (1.0.0)
Requirement already satisfied: alembic>=1.13.1 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 18)) (1.13.1)
Requirement already satisfied: web3>=6.11.3 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 21)) (6.11.3)
Requirement already satisfied: eth-account>=0.8.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 22)) (0.11.2)
Requirement already satisfied: eth-typing>=3.5.2 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 23)) (3.5.2)
Requirement already satisfied: eth-utils>=2.2.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 24)) (4.1.1)
Requirement already satisfied: PyJWT>=2.8.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 27)) (2.8.0)
Requirement already satisfied: cryptography>=41.0.7 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 28)) (41.0.7)
Requirement already satisfied: pydantic>=2.5.2 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 29)) (2.5.2)
Requirement already satisfied: Flask-Limiter>=3.5.0 in ./.pythonlibs/lib/python3.11/site-packages (from -r requirements.txt (line 30)) (3.9.2)
Requirement already satisfied: pytest>=7.4.3 in /nix/store/59clyj18mvjxbkig5z76m0b40pxkxkfq-python3.11-pytest-8.1.1/lib/python3.11/site-packages (from -r requirements.txt (line 33)) (8.1.1)
Requirement already satisfied: pytest-asyncio>=0.21.1 in /nix/store/lr8157i3piybdlm5a9g7rmyz6hxlz1cb-python3.11-pytest-asyncio-0.23.6/lib/python3.11/site-packages (from -r requirements.txt (line 34)) (0.23.6)
Requirement already satisfied: pytest-mock>=3.12.0 in /nix/store/z691y0j0cx7x85rwa6wym484c0zavjg1-python3.11-pytest-mock-3.14.0/lib/python3.11/site-packages (from -r requirements.txt (line 35)) (3.14.0)
Requirement already satisfied: pytest-cov>=4.1.0 in /nix/store/cnmccvxl1f18agqbyxxbk8z9qrixi7w2-python3.11-pytest-cov-4.1.0/lib/python3.11/site-packages (from -r requirements.txt (line 36)) (4.1.0)
Requirement already satisfied: Werkzeug>=3.0.0 in /nix/store/0krcky469imsipiwsdvbv8qs696d228n-python3.11-werkzeug-3.0.3/lib/python3.11/site-packages (from Flask==3.0.3->Flask[async]==3.0.3->-r requirements.txt (line 3)) (3.0.3)
Requirement already satisfied: itsdangerous>=2.1.2 in /nix/store/xan58bw5yjpr1b5vyh88r8sicls3rql9-python3.11-itsdangerous-2.2.0/lib/python3.11/site-packages (from Flask==3.0.3->Flask[async]==3.0.3->-r requirements.txt (line 3)) (2.2.0)
Requirement already satisfied: click>=8.1.3 in /nix/store/4flhri1nwh8n0d8a4bx2yjnyigpz00bg-python3.11-click-8.1.7/lib/python3.11/site-packages (from Flask==3.0.3->Flask[async]==3.0.3->-r requirements.txt (line 3)) (8.1.7)
Requirement already satisfied: blinker>=1.6.2 in /nix/store/p042l2il2miyglg379w4i1z9qsh636ny-python3.11-blinker-1.7.0/lib/python3.11/site-packages (from Flask==3.0.3->Flask[async]==3.0.3->-r requirements.txt (line 3)) (1.7.0)
Requirement already satisfied: wtforms in ./.pythonlibs/lib/python3.11/site-packages (from Flask-Admin==1.6.1->-r requirements.txt (line 8)) (3.2.1)
Requirement already satisfied: asgiref>=3.2 in ./.pythonlibs/lib/python3.11/site-packages (from Flask[async]==3.0.3->-r requirements.txt (line 3)) (3.8.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /nix/store/k920s30a5dqzndfj4ic23p7rs0pc927k-python3.11-typing-extensions-4.11.0/lib/python3.11/site-packages (from SQLAlchemy>=2.0.23->-r requirements.txt (line 5)) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in /nix/store/a52wdnnz083p7dgmspy6rmb0zy00m7ig-python3.11-greenlet-3.0.3/lib/python3.11/site-packages (from SQLAlchemy>=2.0.23->-r requirements.txt (line 5)) (3.0.3)
Requirement already satisfied: aiofiles in ./.pythonlibs/lib/python3.11/site-packages (from Quart>=0.19.4->-r requirements.txt (line 9)) (24.1.0)
Requirement already satisfied: markupsafe in /nix/store/scaky5i3jjcfmk23s6pgfd7z9izh0ajf-python3.11-markupsafe-2.1.5/lib/python3.11/site-packages (from Quart>=0.19.4->-r requirements.txt (line 9)) (2.1.5)
Requirement already satisfied: pyhumps>=1.6.1 in ./.pythonlibs/lib/python3.11/site-packages (from Quart-Schema>=0.15.0->-r requirements.txt (line 10)) (3.8.0)
Requirement already satisfied: h11 in ./.pythonlibs/lib/python3.11/site-packages (from hypercorn>=0.15.0->-r requirements.txt (line 11)) (0.14.0)
Requirement already satisfied: h2>=3.1.0 in ./.pythonlibs/lib/python3.11/site-packages (from hypercorn>=0.15.0->-r requirements.txt (line 11)) (4.1.0)
Requirement already satisfied: priority in ./.pythonlibs/lib/python3.11/site-packages (from hypercorn>=0.15.0->-r requirements.txt (line 11)) (2.0.0)
Requirement already satisfied: wsproto>=0.14.0 in ./.pythonlibs/lib/python3.11/site-packages (from hypercorn>=0.15.0->-r requirements.txt (line 11)) (1.2.0)
Requirement already satisfied: Mako in ./.pythonlibs/lib/python3.11/site-packages (from alembic>=1.13.1->-r requirements.txt (line 18)) (1.3.8)
Requirement already satisfied: aiohttp>=3.7.4.post0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (3.11.10)
Requirement already satisfied: eth-abi>=4.0.0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (5.1.0)
Requirement already satisfied: eth-hash>=0.5.1 in ./.pythonlibs/lib/python3.11/site-packages (from eth-hash[pycryptodome]>=0.5.1->web3>=6.11.3->-r requirements.txt (line 21)) (0.7.0)
Requirement already satisfied: hexbytes<0.4.0,>=0.1.0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (0.3.1)
Requirement already satisfied: jsonschema>=4.0.0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (4.23.0)
Requirement already satisfied: lru-dict<1.3.0,>=1.1.6 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (1.2.0)
Requirement already satisfied: protobuf>=4.21.6 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (5.29.2)
Requirement already satisfied: requests>=2.16.0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (2.32.3)
Requirement already satisfied: websockets>=10.0.0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (13.1)
Requirement already satisfied: pyunormalize>=15.0.0 in ./.pythonlibs/lib/python3.11/site-packages (from web3>=6.11.3->-r requirements.txt (line 21)) (16.0.0)
Requirement already satisfied: bitarray>=2.4.0 in ./.pythonlibs/lib/python3.11/site-packages (from eth-account>=0.8.0->-r requirements.txt (line 22)) (3.0.0)
Requirement already satisfied: eth-keyfile>=0.6.0 in ./.pythonlibs/lib/python3.11/site-packages (from eth-account>=0.8.0->-r requirements.txt (line 22)) (0.8.1)
Requirement already satisfied: eth-keys>=0.4.0 in ./.pythonlibs/lib/python3.11/site-packages (from eth-account>=0.8.0->-r requirements.txt (line 22)) (0.6.0)
Requirement already satisfied: eth-rlp>=0.3.0 in ./.pythonlibs/lib/python3.11/site-packages (from eth-account>=0.8.0->-r requirements.txt (line 22)) (1.0.1)
Requirement already satisfied: rlp>=1.0.0 in ./.pythonlibs/lib/python3.11/site-packages (from eth-account>=0.8.0->-r requirements.txt (line 22)) (4.0.1)
Requirement already satisfied: ckzg>=0.4.3 in ./.pythonlibs/lib/python3.11/site-packages (from eth-account>=0.8.0->-r requirements.txt (line 22)) (2.0.1)
Requirement already satisfied: cytoolz>=0.10.1 in ./.pythonlibs/lib/python3.11/site-packages (from eth-utils>=2.2.0->-r requirements.txt (line 24)) (1.0.1)
Requirement already satisfied: cffi>=1.12 in ./.pythonlibs/lib/python3.11/site-packages (from cryptography>=41.0.7->-r requirements.txt (line 28)) (1.17.1)
Requirement already satisfied: annotated-types>=0.4.0 in ./.pythonlibs/lib/python3.11/site-packages (from pydantic>=2.5.2->-r requirements.txt (line 29)) (0.7.0)
Requirement already satisfied: pydantic-core==2.14.5 in ./.pythonlibs/lib/python3.11/site-packages (from pydantic>=2.5.2->-r requirements.txt (line 29)) (2.14.5)
Requirement already satisfied: limits>=3.13 in ./.pythonlibs/lib/python3.11/site-packages (from Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (3.14.1)
Requirement already satisfied: ordered-set<5,>4 in ./.pythonlibs/lib/python3.11/site-packages (from Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (4.1.0)
Requirement already satisfied: rich<14,>=12 in ./.pythonlibs/lib/python3.11/site-packages (from Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (13.9.4)
Requirement already satisfied: iniconfig in /nix/store/ihj3vxwv7wn7lgpja37gjvqb55x0kx90-python3.11-iniconfig-2.0.0/lib/python3.11/site-packages (from pytest>=7.4.3->-r requirements.txt (line 33)) (2.0.0)
Requirement already satisfied: packaging in /nix/store/lwjnn5iyh8jzzhbvlqw31498mhhkmhcx-python3.11-packaging-24.0/lib/python3.11/site-packages (from pytest>=7.4.3->-r requirements.txt (line 33)) (24.0)
Requirement already satisfied: pluggy<2.0,>=1.4 in /nix/store/bc5iy2ky85k1v46hfs4myhd0c35i2rmi-python3.11-pluggy-1.4.0/lib/python3.11/site-packages (from pytest>=7.4.3->-r requirements.txt (line 33)) (1.4.0)
Requirement already satisfied: coverage>=5.2.1 in /nix/store/0195r4bzsmhx07wvz7b7av6hvyai8ak0-python3.11-coverage-7.4.4/lib/python3.11/site-packages (from coverage[toml]>=5.2.1->pytest-cov>=4.1.0->-r requirements.txt (line 36)) (7.4.4)
Requirement already satisfied: aiohappyeyeballs>=2.3.0 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (2.4.4)
Requirement already satisfied: aiosignal>=1.1.2 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (1.3.2)
Requirement already satisfied: attrs>=17.3.0 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (24.3.0)
Requirement already satisfied: frozenlist>=1.1.1 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (1.5.0)
Requirement already satisfied: multidict<7.0,>=4.5 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (6.1.0)
Requirement already satisfied: propcache>=0.2.0 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (0.2.1)
Requirement already satisfied: yarl<2.0,>=1.17.0 in ./.pythonlibs/lib/python3.11/site-packages (from aiohttp>=3.7.4.post0->web3>=6.11.3->-r requirements.txt (line 21)) (1.18.3)
Requirement already satisfied: pycparser in ./.pythonlibs/lib/python3.11/site-packages (from cffi>=1.12->cryptography>=41.0.7->-r requirements.txt (line 28)) (2.22)
Requirement already satisfied: toolz>=0.8.0 in ./.pythonlibs/lib/python3.11/site-packages (from cytoolz>=0.10.1->eth-utils>=2.2.0->-r requirements.txt (line 24)) (1.0.0)
Requirement already satisfied: parsimonious<0.11.0,>=0.10.0 in ./.pythonlibs/lib/python3.11/site-packages (from eth-abi>=4.0.0->web3>=6.11.3->-r requirements.txt (line 21)) (0.10.0)
Requirement already satisfied: pycryptodome<4,>=3.6.6 in ./.pythonlibs/lib/python3.11/site-packages (from eth-hash[pycryptodome]>=0.5.1->web3>=6.11.3->-r requirements.txt (line 21)) (3.21.0)
Requirement already satisfied: hyperframe<7,>=6.0 in ./.pythonlibs/lib/python3.11/site-packages (from h2>=3.1.0->hypercorn>=0.15.0->-r requirements.txt (line 11)) (6.0.1)
Requirement already satisfied: hpack<5,>=4.0 in ./.pythonlibs/lib/python3.11/site-packages (from h2>=3.1.0->hypercorn>=0.15.0->-r requirements.txt (line 11)) (4.0.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in ./.pythonlibs/lib/python3.11/site-packages (from jsonschema>=4.0.0->web3>=6.11.3->-r requirements.txt (line 21)) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in ./.pythonlibs/lib/python3.11/site-packages (from jsonschema>=4.0.0->web3>=6.11.3->-r requirements.txt (line 21)) (0.35.1)
Requirement already satisfied: rpds-py>=0.7.1 in ./.pythonlibs/lib/python3.11/site-packages (from jsonschema>=4.0.0->web3>=6.11.3->-r requirements.txt (line 21)) (0.22.3)
Requirement already satisfied: deprecated>=1.2 in ./.pythonlibs/lib/python3.11/site-packages (from limits>=3.13->Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (1.2.15)
Requirement already satisfied: charset-normalizer<4,>=2 in ./.pythonlibs/lib/python3.11/site-packages (from requests>=2.16.0->web3>=6.11.3->-r requirements.txt (line 21)) (3.4.0)
Requirement already satisfied: idna<4,>=2.5 in ./.pythonlibs/lib/python3.11/site-packages (from requests>=2.16.0->web3>=6.11.3->-r requirements.txt (line 21)) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./.pythonlibs/lib/python3.11/site-packages (from requests>=2.16.0->web3>=6.11.3->-r requirements.txt (line 21)) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in ./.pythonlibs/lib/python3.11/site-packages (from requests>=2.16.0->web3>=6.11.3->-r requirements.txt (line 21)) (2024.12.14)
Requirement already satisfied: markdown-it-py>=2.2.0 in ./.pythonlibs/lib/python3.11/site-packages (from rich<14,>=12->Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in ./.pythonlibs/lib/python3.11/site-packages (from rich<14,>=12->Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (2.18.0)
Requirement already satisfied: wrapt<2,>=1.10 in ./.pythonlibs/lib/python3.11/site-packages (from deprecated>=1.2->limits>=3.13->Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (1.17.0)
Requirement already satisfied: mdurl~=0.1 in ./.pythonlibs/lib/python3.11/site-packages (from markdown-it-py>=2.2.0->rich<14,>=12->Flask-Limiter>=3.5.0->-r requirements.txt (line 30)) (0.1.2)
Requirement already satisfied: regex>=2022.3.15 in ./.pythonlibs/lib/python3.11/site-packages (from parsimonious<0.11.0,>=0.10.0->eth-abi>=4.0.0->web3>=6.11.3->-r requirements.txt (line 21)) (2024.11.6)
~/workspace$ 